{
   "id": "11111111111111111111",
   "service_account_id": "22222222222222222222",
   "created_at": "2020-10-12T22:36:35Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\n-----END PUBLIC KEY-----\n",
   "private_key": "-----BEGIN PRIVATE KEY-----\n-----END PRIVATE KEY-----\n"
}
